@import "src/styles/constants.scss";
.selection {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #fbe5d0;
  &_cell {
    background-color: #fbe5d0;
    // width: $column-width;
    padding: 0.5em;
    flex: 0 0 $column-width;
    position: relative;
    @for $i from 1 to 10 {
      @media (max-width: $i*$column-width) {
        &:nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }
  &_item {
    display: flex;
    border: solid 2px orange;
    background-color: white;

    &_text {
      width: 75%;
      font-weight: bold;
      font-size: 1em;
      margin: 10px;
      overflow-wrap: break-word;
    }
    button {
      position: absolute;
      top: -0.4em;
      right: -0.4em;
      display: inline;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
