@import "src/styles/constants.scss";
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.selection {
  margin: 0;
  padding: 0;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1010;
  background-color: #fbe5d0;
  @media (max-width: $max-mobile) {
    justify-content: center;
  }
  &_cell {
    background-color: #fbe5d0;
    padding: 0.5em;
    position: relative;
    flex: 0 0 $column-width;
    @media (max-width: $max-mobile) {
      flex: 0 0 $column-width-mobile;
      overflow: hidden;
    }
    @media (min-width: $min-not-mobile) {
      @for $i from 1 to 10 {
        @media (max-width: $i*$column-width) {
          &:nth-child(#{$i}) {
            display: none;
          }
        }
      }
    }
  }
  &_item {
    display: flex;
    border: solid 2px $color-primary;
    background-color: white;

    @media (max-width: $max-mobile) {
      cursor: pointer;
      button {
        &:focus {
          outline: none;
        }
        svg {
          height: 20px;
          width: 20px;
          margin-top: 25px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }

    &_text {
      width: 75%;
      font-weight: bold;
      font-size: 1em;
      margin: 10px;
      overflow-wrap: break-word;
      -webkit-touch-callout: none; /* iOS Safari */
      user-select: none;

      &_search {
        text-transform: uppercase;
        color: grey;
      }
    }
    button {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      display: inline;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
