.frafall {
  &_container {
    //Scalable font size
    font-size: 1rem;
    text-align: center;
    &-icons {
        margin-bottom: 1em;
        &--icon {
            margin: .5em;
        }
    }

    &-percentage {
      font-size: 5em;
    }
  }
}
