.visualization {
    &_container {
        //Scalable font size
      font-size: 1rem;

        border: .2em solid orange;
        margin: 1em;
        padding: 1.5em;
        padding-top: 3em;
        padding-bottom: 3em;
    }
}