@import "src/styles/_constants.scss";
.arbeidsledighetvisualization {
  // height: 360px;
  min-height: 250px;
  &_dataSource{
    color: #767676;
    color: $color-global-text;
    padding-left:1.4em;
  }
  &_heading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom:0;
    // text-transform: uppercase;
    
    display:flex;
    justify-content: center;
    // font-weight: 500;
  }

  &_showingDataFor{
    font-family: "Roboto",sans-serif;
    font-size:14px;
    color: $color-global-text;

    ul{
      padding-left:0px;
      list-style-type: none;
    }

    ul > li:before{
      content: "- ";
    }

    &_toggler{
      &_icon{
        margin-left:5px;
        width:22px;
        height:22px;
        transform: rotate(90deg);
        vertical-align: middle;
        path {
          fill: $color-primary;
        }
      }
      &_iconClosed{
        margin-left:5px;
        width:22px;
        height:22px;
        transform: rotate(-90deg);
        vertical-align: middle;
        path {
          fill: $color-primary;
        }
      }
    }
  }

  &_percentageText{
    // font-size:30px;
    font-size:20px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;

    display:flex;
    justify-content: center;
    
    &_vLow{
      color: #3455DB;
    }

    &_low{
      color: #0C7120;
    }

    &_medium{
      color: #804600;
    }

    &_high{
      color: #B11030;
    }

    &_vHigh{
      color: #B50000;
    }

    &::after{
      content:'%';
      font-size:20px;
      font-weight: bold;
      margin-left: 4px;
    }
  }

  &_percentageSign{
    font-size:20px;
    display:inline-block;
    margin:0;
    color:#333;
    
  }

  &_percentageRisk{
    margin:0;
    margin-bottom:12px;
    // font-size:20px;
    font-size: 14px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    font-weight: bold;
  }

  &_text {
    font-weight: 600;
  }
  &_percentage {
    margin-bottom: 20px;
  }
  &_noData {
    margin-bottom: 55px;
    margin-top: 20px;
  }
  &_kjonn {
    display: flex;
    width: 100%;
    &_icon {
      &_container {
        display: flex;
      }
      width: auto;
      svg {
        height: 1.5em;
      }
      margin-right: 5px;
      &_percentage {
        margin-bottom: 5px;
      }
    }
    &_container {
      width: 80%;
      &_text {
        font-weight: 500;
      }
    }
  }
  &_list {
    list-style: none;
    vertical-align: middle;
    display: flex;

    div{
      width:100%;
    }
    svg {
      height: 30px;
      width: 25px;
    }
    &_text {
      margin-top: 1px;
      margin-left: 2px;
    }
  }
}
