body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Roboto Slab", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  /* color: #555555; */
}

html {
  font-size: 62.5%;
}

h1{
  font-family: "Roboto Slab",sans-serif;
  font-size: 20px;
  font-weight: bold;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#section-header{
  position: absolute;
  width:100%;
  top:64px;
  z-index:1022;
}

#section-header .hidden-sm{
  display:none;
}

