.btn {
  cursor: pointer;
  margin-top: 30px;
  height: 28px;
  padding: 4px;

  background-color: white;

  color: black;
  border: solid 1px black;
  font-size: 1em;
  width: 12em;
  text-align: center;

  svg {
    position: relative;
    height: 1.2em;
    float: right;
  }
}
