.alphabetic {
  list-style: none;
}

.alphabetic-headers {
  justify-content: center;
  display: flex;
}
.alphabetic-header {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  span {
    background-color: yellowgreen;

    border-radius: 50%;
    display: block;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
  }
}
.selected {
  background-color: yellow;
}
