.ComparisonPage {
  .flex-container {
    // display: flex;
    height: 800px;
  }

  .flex-item {
    color: black;

    &.title {
      font-size: 20px;
      font-weight: bold;
      min-width: 15%;
      text-align: center;
    }

    &.item-title {
      font-size: 20px;
      font-weight: bold;
      margin: 15px;
      width: 10%;
      vertical-align: middle;
    }

    &.item {
      border: 1px;
      border-color: black;
      border-style: solid;
      min-width: 15%;
      margin: 2px;
    }
  }

  .flex-container-row {
    min-height: 25%;
    padding: 5px;
    display: flex;
    &.titlerow {
      height: 5%;
      min-height: 5%;
    }
  }
}
