.ComparisonPage {
  .header {
    display: flex;
    justify-content: center;
    color: grey;
  }
  .breadcrumb {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    &_button {
      border: 2px solid orange;
      border-radius: 5em;
      padding: 0.4em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      font-size: 0.8em;
      text-decoration: none;
      color: black;
      &:first-child {
        margin-right: 10px;
      }
      &_nonselected {
        border-color: #ffe1aa;
        background-color: #ffe1aa;
      }
    }
  }
  .flex_container {
    height: 800px;
    width: 80%;
    margin: auto;
  }

  .flex_item {
    width: 100%;
    &.title {
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      justify-content: center;
      max-width: 30%;
    }

    &.item_title {
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      background-color: orange;
    }

    &.item {
      max-width: 30%;
    }
  }

  .flex_container_row {
    width: 100%;
    display: flex;
    justify-content: center;
    &.titlerow {
      width: 100%;
      background-color: orange;
      margin-bottom: 0.2em;
    }
  }
}
