@import "src/styles/_constants.scss";
.container{
  &_searchcontainer{
    display:flex;
    justify-content: center;
  }
}
.frontpage {
  &_undertitle{
    display:inline-block;
  }
  &_header {
    text-align: center;
    text-transform: uppercase;  // test
    font-weight: 500; // test
    margin-bottom:0;
  
    p{
      margin-top: 0;
      margin-bottom:0;
      color: $color-primary;
    }
  }
  &_options {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
    }
    justify-content: center;

    &_searchbox {
      margin: 2%;
      width: 20em;
      margin-top:0;
      @media (max-width: $max-mobile) {
        //width: 90%;
        width:95%;
        margin: auto;
        margin-bottom: 15px;
      }
    }
    a {
      margin: 2%;
      // Fullscreen here
      width:12%;
      padding:12px;
      font-size:1.5em;
      text-transform: uppercase;
      @media (max-width: $max-mobile) {
        // width: 80%;
        width: 95%;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
