.frontpage {
  &_header {
    text-align: center;
    color: gray;
  }
  &_options {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
    }
    justify-content: center;
    > * {
      margin: 2%;
    }
  }
}
