.nodata {
  &_container {
    //Scalable font size
    font-size: 1em;
    text-align: center;
    &_icon {
      margin-bottom: 0.5em;
      svg {
        height: 3em;
      }
    }

    &_text {
      font-size: 1.4em;
    }
  }
}
