.container {
  height: 360px;

  &_filter {
    display:flex;
    justify-content: flex-end;
    &_container{
      display:flex;
      width:76%;
      // max-width: 830px;
      &_text{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
       
      }
      &_icon{
        margin-left:0.3em;
        width:28px;
        height:28px;
        
      }
    }
  }
  &_header {
    font-weight: 600;
    font-weight: bold;
    font-size:14px;
  }
  &_andel {
    margin-bottom: 20px;
  }
  &_antall {
    display: flex;
    width: 100%;
    svg {
      height: 1.5em;
      margin-right: 10px;
    }
  }
  &_noData {
    margin-top: 20px;
    margin-bottom: 45px;
  }
}
