.flex_item {
  max-width: 100%;
  &.title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    max-width: 30%;
  }

  &.item_title {
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 50px;
  }

  &.item {
    max-width: 30%;
  }
}
