.container {
  display: flex;
  &_data {
    &_header {
      font-weight: 500;
    }
    &_q3 {
      margin-bottom: 20px;
      &_A {
        margin-bottom: 50px;
      }
    }
    &_median {
      margin-bottom: 20px;
      .container_data_header {
        font-weight: 700;
        text-transform: uppercase;
      }
      &_A {
        margin-bottom: 50px;
        .container_data_header {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    &_q1 {
    }

    &_female {
      color: #cd99ab;
      font-weight: 700;

      svg {
        height: 15px;
        width: 15px;
      }
    }
    &_male {
      color: #9fbded;
      font-weight: 700;

      svg {
        height: 15px;
        width: 15px;
      }
    }
    &_text {
      font-weight: 700;
    }
  }
}
