.lonnVisualization {
  &_kjonn {
    display: flex;
    &_icon {
      svg {
        height: 1em;
        width: 1em;
      }
      margin-right: 5px;
    }
    &_text {
      font-weight: 600;
    }
  }
}
