.container {
  margin-left: 60px;
  @media (max-width: 500px) {
    margin-left: 0;
    text-align: center;
  }
  &_data {
    &_header {
      font-weight: 500;
    }
    &_q3 {
      margin-bottom: 20px;
      &_A {
        margin-bottom: 50px;
        @media (max-width: 500px) {
          margin-bottom: 10px;
        }
      }
    }
    &_median {
      margin-bottom: 20px;
      .container_data_header {
        font-weight: 700;
        text-transform: uppercase;
      }
      &_A {
        margin-bottom: 50px;
        .container_data_header {
          font-weight: 700;
          text-transform: uppercase;
        }
        @media (max-width: 500px) {
          margin-bottom: 10px;
        }
      }
    }

    &_female {
      color: #84012e;
      font-weight: 600;
      display: flex;
      word-break: break-all;
      @media (max-width: 500px) {
        display: inline-flex;
      }
      &_icon {
        background-color: #84012e;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-left: 5px;
        margin-top: 3px;
        svg {
          height: 15px;
          width: 15px;
          margin-left: 3px;
          margin-bottom: 2px;

          path {
            fill: white;
          }
        }
      }
    }
    &_male {
      color: #9bbad3;
      font-weight: 600;
      word-break: break-all;

      svg {
        height: 15px;
        width: 15px;
        margin-left: 3px !important;
        margin-top: 3px;
      }
    }
    &_text {
      font-weight: 600;
    }
  }
}
