.columnchart {
  &_container {
    height: 230px;
    svg {
      width: 60px;
    }
    display: flex;
    float: left;
    margin-right: 20px;
    position: relative;

    &_A,
    &_K,
    &_M {
      height: 100%;
      width: 15px;
      border-radius: 10px;
      margin-top: auto;

      &_high,
      &_medium,
      &_low {
        width: 9px;
        border: 3px solid black;
        height: 9px;
        border-radius: 50px;
        display: block;
        position: absolute;
      }

      &_high {
        bottom: 100%;
        transform: translateY(100%);
      }
      &_medium {
        background-color: black;
        bottom: 50%;
        transform: translateY(50%);
      }
      &_low {
        bottom: 0%;
        transform: translateY(0%);
      }

      &_icon {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        svg {
          position: absolute;
          top: 100%;
          transform: translateY(-100%);
        }
      }
    }

    &_A {
      background-color: #aaaaaa;
    }
    &_K {
      background-color: #84012e;
      &_icon {
        height: 30px;
        width: 30px;
        margin-left: -1px;

        svg {
          path {
            fill: white;
          }
        }
      }
    }
    &_M {
      background-color: #9bbad3;
      margin-right: 10px;
      &_icon {
        height: 22px;
        width: 22px;
        margin-left: -5px;
      }
    }
  }
}
