.percentagebar {
  //Scalable font size
  font-size: 1em;
  width: 100%;

  &_mainbar {
    border-radius: 1em;
    height: 1.5em;
    background-color: white;
    border: 2px solid #b1b1b1;
  }

  &_overlaybar {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 99%;
      top: -1.62em;
      left: 0.1em;
      border-radius: 1em;
      background-color: orange;
      height: 1.5em;
    }
  }

  &_percentage {
    font-size: 1.7em;
    font-weight: 500;
    margin-top: 0.4em;
    margin-left: 20px;
    &_main {
      font-size: 1.2em;
    }
    &_second {
      font-size: 0.6em;
    }
  }
}
