ul.hvilkejobber_tabs {
  max-width: 100em;
  margin: 0.5em auto 1em;
  padding: 0;
  list-style: none;
}

ul.hvilkejobber_tabs:after {
  content: "";
  display: table;
  clear: both;
}

ul.hvilkejobber_tabs li {
  float: left;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  border: rgb(248, 147, 48) solid 2px;
  border-radius: 18px;
  width: 13.5em;
  height: 2.5em;
  line-height: 2.3em;
  text-align: center;
  cursor: pointer;
}

ul.hvilkejobber_tabs li button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  font-size: 1em;
}

ul.hvilkejobber_tabs li.hvilkejobber_active button {
  color: #fff;
}
ul.hvilkejobber_tabs li.hvilkejobber_active {
  border-color: rgb(51, 51, 51);
  background: rgb(51, 51, 51);
  color: #fff;
}
