.interessefilter {
  &_container {
    &_filters {
      display: flex;
      margin-bottom: 10px;
      margin-top: 10px;
      display:none; // test
      &_nullstill {
        margin-left: auto;
        cursor: pointer;
        span {
          background-color: inherit;
          margin-top: 2px;
          &:before,
          &:after {
            background: black;
          }
        }
      }
    }
    &_title{                    // test hele greia
      margin-top:70px;
      color: white;           
    }

    &_close{
      display:flex;
      justify-content: center;
      color:white;
      
    }
    &_items {

      display: flex;
      // flex-flow: row wrap;
      flex-direction: column;
      @media only screen and (max-width: 500px){  // test 
        flex-direction: row;
      }
      flex-wrap: wrap;
      align-content: center;
      padding-bottom: 10px;

      @media only screen and (min-width: 900.5px) {
        height: 600px;
      }
      @media only screen and (max-width: 900px) {
        height: 800px;
      }
      @media only screen and (max-width: 600px) {
        height: 1075px;
      }
      @media only screen and (max-width: 500px) {
        height: 2010px;
      }

      &__item {
        width: 20%;
        @media only screen and (min-width: 900.5px) {
          width: 25%;
        }
        @media only screen and (max-width: 900px) {
          width: 32%;
        }
        @media only screen and (max-width: 600px) {
          width: 50%;
        }
        @media only screen and (max-width: 500px) {
          width: 100%;
        }
        word-break: break-word;
        padding-right: 1em;
        label {
          cursor: pointer;
        }
      }
    }
  }
}
