@import "src/styles/_constants.scss";

.selection {
  width: 100%;
  background-color: #e4e4e4;
  background-color:transparent;
  &_row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-top: 0px;    // test 
    padding-bottom: 0px; // test
    @media (max-width: $max-mobile) {
      justify-content: center;
      width: 100%;
      position: relative;
    }
    .searchbox {
      @media (max-width: $max-mobile) {
        display: none;
      }
    }
    &_selectors {
      width: 40%;
    }

    @media (min-width: 992px) {
      // display: flex;
      flex-flow: row wrap;
      align-content: center;
      // justify-content: space-between;
    }
  }

  &_desk{
    background-color: #EFEFEF;
  }
}

.btn {
  cursor: pointer;
  height: 34px;
  padding: 8px;

  background-color: white;

  color: black;
  border: solid 1px $color-primary;
  font-size: 1em;
  width: 10em;
  text-align: center;

  svg {
    position: relative;
    height: 1.2em;
    width: 1.2em;
    float: right;
    color:white;
  }
  &_interests {
    margin-left: 20px;
    margin-left:auto; //test 
  }

  &_open {    //test 
    background-color: transparent;
    color:white;
    border: none;
    z-index:1021;
    position: relative;
  }
}


.notdropdown {
  width: 80%;
  width:95%; // test
  margin: auto;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-bottom: 5px;
  background-color: #363636; 
  margin-top:-54px; // test 
  position: absolute;//test
  left:0;//test
  right:0;//test
  margin-left:auto;//test
  margin-right:auto; // test 
  padding-left:10px; // test
}



.unselected {
  background-color: lightgray;
}

.filterContainer {
  width:95%; // test, var ingenting her før
  display: flex;
  .dropdown_container {
    position: relative;
    @media (max-width: $max-mobile) {
      position: unset;
    }
    .dropdown {
      position: absolute;
      // width: 300px
      width:95%; // test 
      // background-color: white; 
      background-color:#363636; // test 
      z-index: 1020;
     
      margin-top:-54px;

      @media (max-width: $max-mobile) {
        left: 0;
        width: 100%;
        width: 95%; // test
        margin:auto;
        left:0;
        right:0;
        margin-top: -54px;
      }
    }
  }
}
