.searchbox {
  position: relative;
  &_container {
    &_input {
      height: 24px;
      border-radius: 12px;
      border: 1px solid #dedede;
      padding: 4px 15px;
      width: 200px;
      &:focus {
        outline: none;
        border-color: orange;
      }
    }
    svg {
      position: absolute;
      height: 1.2em;
      top: 7px;
      left: 200px;
    }
  }
  &_dropdown {
    // &_hidden {
    //   position: initial;
    //   height: 200px;
    //   width: 400px;
    // }
    position: absolute;
    z-index: 100;
    width: 400px;
    top: 35px;

    background-color: white;
    padding: 0.1em 1em 1em 1em;
    border: 1px solid black;
    &_help {
      color: gray;
      font-weight: bold;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
    &_header {
      text-transform: uppercase;
      background-color: lightgrey;
      margin: 0;
      padding: 0;
    }
    button {
      border: none;
      margin: 0;
      padding: 0.2em;
      width: 100%;
      text-align: left;
      background: transparent;
      color: inherit;
      font: inherit;
      &:hover {
        background-color: antiquewhite;
      }
      &.active {
        color: yellow;
      }
      &.selected {
        background-color: #ffda95;
      }
    }
  }
}
