.App {
  text-align: center;
}

.App_logo {
  animation: App_logo_spin infinite 20s linear;
  height: 80px;
}

.App_header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App_title {
  font-size: 1.5em;
}

.App_intro {
  font-size: large;
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
