.flex_container_row {
  width: 100%;
  display: flex;
  justify-content: center;
  &.titlerow {
    width: 100%;
    background-color: orange;
    margin-bottom: 0.2em;
  }
}
.flex_item {
  width: 100%;
  &.title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    max-width: 30%;
  }

  &.item_title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
  }

  &.item {
    max-width: 30%;
  }
}
