@import "src/styles/_constants.scss";

.row_style {
  display: flex;
  align-items: stretch;
  @media (max-width: $max-mobile) {
    justify-content: center;
  }

  .empty_cells_placeholder {
    border-right: 1px dotted gray;
    &:last-child {
      border: none;
    }
    padding: 1.5em;
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  > * {
    flex: 0 0 $column-width;
    @media (max-width: $max-mobile) {
      flex: 0 0 $column-width-mobile;
    }
    @media (min-width: $min-not-mobile) {
    }
  }
}
