@import "src/styles/_constants.scss";

.selection_button{
    position: relative;
    width:95%;
    background-color:transparent;
    border-radius: 22px;
    height:2.24em;
    border: 2px solid $color-primary;
    padding:10px;
    font-size:1em;
    margin: 10px auto auto auto;
    height:100%;
    font-weight:600;
    text-transform: uppercase;
    color: #E7772E;  // Change this
    display:flex;
    flex-direction: column;

    p{
        margin-left:auto;
        margin-right:auto;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #E7772E;
        }
    }
}

.selection_button_active{
    position:absolute;
    height: 4em;
    z-index: 1;
    clear:both;
}